# Ignore Visual Studio temporary files and build outputs

# For the 'obj' folder within VehicleServiceCenter
/VehicleServiceCenter/obj/

# For the '.vs' folder within VehicleServiceCenter
/VehicleServiceCenter/.vs/

# For the 'bin' folder within VehicleServiceCenter
/VehicleServiceCenter/bin/