################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VehicleServiceCenter/obj
/VehicleServiceCenter/.vs
/VehicleServiceCenter/.vs/ProjectEvaluation/vehicleservicecenter.metadata.v9.bin
